@use "global" as *;

.top-info {
  padding: rem(80) 0;
  background-color: $skyblue;

  @include mq("md") {
    padding: rem(100) 0;
  }
}

.top-info__inner.inner{
  max-width: rem(600);

  @include mq("md") {
  max-width: rem(1130);
  }
}

.info__wrapper {
  margin-top: rem(27);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(24);

  @include mq("md") {
    margin-top: rem(37);
    flex-direction: row;
    column-gap: rem(48);
  }
}

.info__img {
  width: 100%;

  @include mq("md") {
    max-width: 50%;
  }
}

.info img {
  width: 100%;
  aspect-ratio: 345/227;

  @include mq("md") {
    aspect-ratio: 540/356;
  }
}


.info__description {
max-width: rem(492);

}

.info-button {
  margin-top: rem(40);
}
