@use "global" as *;

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: rem(80);
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
  background: rgba(32, 32, 32, 80%);
}

.modal.is-open {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 63.88%;
  max-height: 76.8%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__img{
  height: 100%;
  object-fit: contain;
}


.fixed {
  overflow: hidden;
  height: 100vh;
}
