@use "global" as *;

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: rem(80);
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
  background: rgba(32, 32, 32, 80%);
}

.modal.is-open {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  position: relative;
  display: inline-block;
  width: 100%;
  // background: #fff;
}
