@use "global" as *;

.form{
width: 100%;
}

.form__table{
  width: 100%;
}

.form__wrapper:not(:first-child){
margin-top: rem(24);

@include mq("md") {
    margin-top: rem(40);
}
}

.form__private{
  margin-top: rem(80);
  display: flex;
  justify-content: center;
}

.form__private-text{
  position: relative;
  padding-left: rem(30);

  @include mq("md") {
    padding-left: rem(38);
  }
}

.form__private-text::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 0.0625rem solid #408F95;
  width: rem(22);
  height:rem(22);
}

.form__button{
  margin-top: rem(40);
  text-align: center;
}