@use "global" as *;

.accordion {
}

.accordion__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);

  @include mq("md") {
    gap: rem(40);
    max-width: rem(700);
    margin: auto;
  }
}
