@use "global" as *;

.blog-card {
  box-shadow: rem(2) rem(2) rem(10) 0  rgba(0, 0, 0, 0.25);
  height: 100%;
}

.blog-card a {
  display: block;
  padding: rem(16) rem(16) rem(24);
  background-color: $white;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.blog-card__img{
  overflow: hidden;
}

.blog-card__img img {
  transition: .3s transform ease;
  width: 100%;
  aspect-ratio: 301 / 201;
  object-fit: cover;
}

@media(any-hover:hover){
  .blog-card__img img:hover{
    transform: scale(1.05);
  }
}


.blog-card__body {
  flex-grow: 1;
  margin-top: rem(17);
  display: flex;
  flex-direction: column;


  @include mq("md") {
  margin-top: rem(17);
  }
}

.blog-card__date {
  font-size: rem(12);
  line-height: 1.5;
  font-weight: $regular;
  font-family: $base-font-family;
}

.blog-card__title {
  padding-bottom: rem(4);
  border-bottom: rem(1) solid $green;
  font-size: rem(16);
  line-height: 1.5;
  font-weight: $medium;
  font-family: "Noto Sans JP";
  flex-grow: 1;
}

.blog-card__text {
  margin-top: rem(16);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: $regular;
  font-family: "Noto Sans JP";
}
