@use "global" as *;

.button {
  position: relative;
  display: block;
  margin-inline: auto;
  width: rem(202);
  height: rem(54);
  padding: 0;
  border: rem(1) solid $green;
  background-color: $green;
  color: $white;
  transition: 0.3s ease;
  cursor: pointer;
  z-index: 3;
}

.button::before {
  content: "";
  position: absolute;
  top: rem(4);
  left: rem(4);
  display: inline-block;
  width: rem(202);
  height: rem(54);
  padding: 0 rem(4) rem(4) 0;
  border: rem(1) solid $green;
  z-index: -1;
}

.button::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
transform: scale(0, 1);
transform-origin: left top;
transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
z-index: -1;
}

.button:hover {
  background-color: $white;
  color: $green;
}

.button:hover::after {
  transform: scale(1, 1);
}

.button__link {
  display: block;
  width: 100%;
  padding: rem(16) rem(40) rem(16);
  font-size: rem(14);
  line-height: 1.571;
  text-align: left;
}

.button__link::first-letter {
  text-transform: capitalize;
}

.button__link::before,
.button__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(35);
  height: rem(1);
  background-color: $white;
  transition: 0.3s background-color;
}

.button__link::before {
  width: 2.5rem;
  transform: translateY(-50%);
}

.button__link::after {
  width: rem(9.2);
  transform: translateY(-50%) rotate(45deg);
  transform-origin: right center;
}

.button__link:hover::before,
.button__link:hover::after {
  background-color: $green;
}


