@use "global" as *;

.section__heading {
  // width: 100%;
  text-align: center;
  // margin-top: rem(1000);
}

.section__title--main {
  font-size: rem(32);
  font-weight: $regular;
  line-height: 1.25;

  @include mq("md") {
    font-size: rem(40);
    line-height: 1;
  }
}

.section__title--main::first-letter {
  color: $green;
  text-transform: capitalize;
}

.section__title--sub {
  margin-top: rem(4);
  font-size: rem(12);
  font-weight: $regular;
  line-height: 1.5;
  color: $green;
  font-family: "Noto Sans JP";

  @include mq("md") {
    margin-top: rem(8);
  }
}
